<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pmo.dashboard.dao.CandidateMapper">
	<resultMap id="candidateMap" type="com.pmo.dashboard.entity.CandidateInfo">
		<id 	property="candidateId" 		column="CANDIDATE_ID" 		javaType="String" />
		<result property="candidateName" 	column="CANDIDATE_NAME" 	javaType="String" />
		<result property="candidateAge" 	column="CANDIDATE_AGE" 		javaType="String" />
		<result property="candidateSex" 	column="CANDIDATE_SEX" 		javaType="String" />
		<result property="candidateTel" 	column="TEL" 				javaType="String" />
		<result property="education" 		column="EDUCATION" 			javaType="String" />
		<result property="skill" 			column="SKILL" 				javaType="String" />
		<result property="experienceYears" 	column="EXPERIENCE_YEARS" 	javaType="String" />
		<result property="candidateStatus" 	column="CANDIDATE_STATUS" 	javaType="String" />
		<result property="collage" 			column="COLLEGE" 			javaType="String" />
		<result property="majorStatus" 		column="MAJOR_STATUS" 		javaType="String" />
		<result property="graduateDate" 	column="GRADUATE_DATE" 		javaType="String" />
		<result property="englishLevel" 	column="ENGLISH_LEVEL" 		javaType="String" />
		<result property="resumePath" 		column="RESUME_PATH" 		javaType="String" />
		<result property="lockPerson" 		column="LOCK_PERSION" 		javaType="String" />
		<result property="userName" 		column="USER_NAME" 			javaType="String" />
		<result property="createDate" 		column="CREATE_DATE" 		javaType="String" />
		<result property="updateDate" 		column="UPDATE_DATE" 		javaType="String" />
		<result property="source" 			column="SOURCE" 			javaType="String" />
		<result property="role" 			column="ROLE" 				javaType="String" />
		<result property="entyDate" 		column="ENTY_DATE" 			javaType="String" />
		<result property="email" 			column="EMAIL" 				javaType="String" />
		<result property="expectedSalary" 	column="EXPECTED_SALARY" 	javaType="String" />
		<result property="realSalary" 		column="REAL_SALARY" 		javaType="String" />
		<result property="arrivalDate" 		column="ARRIVAL_DATE" 		javaType="String" />
		<result property="oldCompany" 		column="OLD_COMPANY" 		javaType="String" />
		<result property="remark" 			column="REMARK" 			javaType="String" />
		<result property="createUser" 		column="CREATE_USER" 		javaType="String" />
		<result property="interviewStatus" 	column="INTERVIEW_STATUS" 	javaType="String" />
		<result property="csSubdeptName" 	column="CS_SUBDEPT_NAME" 	javaType="String" />
		<result property="interviewFeedBack" 	column="FEEDBACK" 		javaType="String" />
		<result property="interviewId" 		column="INTERVIEW_ID" 		javaType="String" />
		<result property="interviewDate" 	column="INTERVIEW_DATE" 	javaType="String" />
		<result property="demandStatus" 	column="STATUS" 			javaType="String" />
		<result property="userId" 			column="USER_ID" 			javaType="String" />
		<result property="fatherInterviewId" 		column="FATHER_INTERVIEW_ID" 	javaType="String" />
		<result property="interviewSerrial" 		column="INTERVIEW_SERIAL" 		javaType="String" />
		<result property="projectName" 		column="PROJECT_NAME" 		javaType="String" />
		<result property="interviewType" 		column="INTERVIEW_TYPE" 		javaType="String" />
	</resultMap>
	<resultMap id="candidatePushMap" type="com.pmo.dashboard.entity.CandidatePush">
		<id 	property="pushId" 		column="PUSH_ID" 		javaType="String" />
		<result property="candidateId" 	column="CANDIDATE_ID" 	javaType="String" />
		<result property="csSubDeptId" 	column="CS_SUBDEPT_ID" 	javaType="String" />
		<result property="pushUserId" 	column="PUSH_USER_ID" 	javaType="String" />
		<result property="pushStatus" 	column="PUSH_STATUS" 	javaType="String" />
		<result property="pushDate" 	column="PUSH_DATE" 		javaType="String" />		
	</resultMap>
	


	<select id="queryinterviewFeedBack" parameterType="com.pmo.dashboard.entity.CandidateInfo" resultMap="candidateMap" >
		SELECT a.nickName,b.*,ci.FEEDBACK,ci.INTERVIEW_ID,ci.INTERVIEW_DATE,dept.CS_SUBDEPT_NAME
			FROM t_user a 
			JOIN t_candidate_interview ci ON ci.INTERVIEWER_ID = a.USER_ID
			LEFT JOIN t_candidate b on ci.CANDIDATE_ID = b.CANDIDATE_ID
			LEFT JOIN t_cs_dept dept on dept.CS_SUBDEPT_ID = ci.CSSUBDEPT
	        WHERE USER_ID = #{userId} and (ci.FEEDBACK='' or ci.FEEDBACK is null)
			ORDER BY ci.INTERVIEW_DATE
	        LIMIT #{currentPage},#{pageDataCount};
	</select>
	
	<select id="queryinterviewAllFeedBack" parameterType="com.pmo.dashboard.entity.CandidateInfo" resultMap="candidateMap" >
		SELECT a.nickName,b.*,ci.FEEDBACK,ci.INTERVIEW_ID,ci.INTERVIEW_DATE,dept.CS_SUBDEPT_NAME
			FROM t_user a 
			JOIN t_candidate_interview ci ON (ci.INTERVIEWER_ID = a.USER_ID or ci.INTERVIEWER_ID != a.USER_ID)
			LEFT JOIN t_candidate b on ci.CANDIDATE_ID = b.CANDIDATE_ID
			LEFT JOIN t_cs_dept dept on dept.CS_SUBDEPT_ID = ci.CSSUBDEPT
	        WHERE USER_ID = #{userId} and (ci.FEEDBACK='' or ci.FEEDBACK is null)
			ORDER BY ci.INTERVIEW_DATE
	        LIMIT #{currentPage},#{pageDataCount};
	</select>
	
	<update id="updateInterviewFeedBack" parameterType="com.pmo.dashboard.entity.CandidateInfo" >
		update t_candidate_interview set FEEDBACK = #{interviewFeedBack}, INTERVIEW_STATUS = #{candidateStatus}
	        WHERE INTERVIEW_ID = #{interviewId};
	</update>
	
	
	<select id="queryCandidateList" parameterType="com.pmo.dashboard.entity.CandidateInfo" resultMap="candidateMap" >
	    SELECT 
	    	a.*,b.NICKNAME 
        FROM 
        	t_candidate a
        left join 
        	t_user b 
        on a.LOCK_PERSION = b.USER_ID
        WHERE 
			CANDIDATE_STATUS not in (4,5,6) 
        	<include refid="candidateWherePart"/>
		ORDER BY CANDIDATE_STATUS,EXPERIENCE_YEARS desc,EDUCATION,MAJOR_STATUS,CANDIDATE_ID 
        LIMIT #{currentPage},#{pageDataCount};
	</select>
	
	<select id="queryCandidateCount" parameterType="com.pmo.dashboard.entity.CandidateInfo" resultType="int" >
	    SELECT 
	    	count(0) 
        FROM 
        	t_candidate a 
        left join 
        	t_user b 
        on a.LOCK_PERSION = b.USER_ID
        WHERE 
			CANDIDATE_STATUS not in (4,5,6) 
        	<include refid="candidateWherePart"/>
			;
	</select>
	
	<select id="queryinterviewFeedBackCount" parameterType="com.pmo.dashboard.entity.CandidateInfo" resultType="int" >
	     SELECT count(0) 
        	FROM t_user a 
			LEFT JOIN t_candidate_interview ci ON ci.INTERVIEWER_ID = a.USER_ID
        	WHERE USER_ID = #{userId} and (ci.FEEDBACK='' or ci.FEEDBACK is null);
	</select>
	
	<select id="queryinterviewAllFeedBackCount" parameterType="com.pmo.dashboard.entity.CandidateInfo" resultType="int" >
	     SELECT count(0) 
        	FROM t_user a 
			LEFT JOIN t_candidate_interview ci ON (ci.INTERVIEWER_ID = a.USER_ID or ci.INTERVIEWER_ID != a.USER_ID)
        	WHERE USER_ID = #{userId} and (ci.FEEDBACK='' or ci.FEEDBACK is null);
	</select>
	
	<select id="queryCandidateResumePath" parameterType="com.pmo.dashboard.entity.CandidateInfo" resultType="java.lang.String" >
	    SELECT 
	    	RESUME_PATH 
        FROM 
        	t_candidate 
        WHERE 
        	CANDIDATE_ID = #{candidateId};
	</select>
	
	<select id="queryExportData" parameterType="com.pmo.dashboard.entity.CandidateInfo" resultType="java.util.LinkedHashMap" >
	    SELECT 
	    	${exportDataColumn}
        FROM 
        	t_candidate a
        left join 
        	t_user b 
        on a.LOCK_PERSION = b.USER_ID
        left join 
        	t_user c 
        on a.CREATE_USER = c.USER_ID
        WHERE 
        	CANDIDATE_STATUS not in (4,5,6) 
        	<include refid="candidateWherePart"/>
        ORDER BY CANDIDATE_STATUS,EXPERIENCE_YEARS desc,EDUCATION,MAJOR_STATUS,CANDIDATE_ID;
	</select>
	
	<select id="queryMyCandidateList" parameterType="com.pmo.dashboard.entity.CandidateInfo" resultMap="candidateMap" >
	    SELECT 
	    	a.*,c.CS_SUBDEPT_NAME 
        FROM 
        	t_candidate a 
        LEFT JOIN 
        	(select * from 
				(select CANDIDATE_ID,CS_SUBDEPT_ID  
					from  t_candidate_push a
					where PUSH_DATE = 
						(select max(PUSH_DATE) from t_candidate_push b  
							where a.CANDIDATE_ID = b.CANDIDATE_ID
						)  
				)a  
				group by CANDIDATE_ID
			)b
        ON a.CANDIDATE_ID = b.CANDIDATE_ID 
        LEFT JOIN 
        	t_cs_dept c
        ON b.CS_SUBDEPT_ID = c.CS_SUBDEPT_ID 
        WHERE 
			LOCK_PERSION = if(#{lockPerson}='all',a.LOCK_PERSION,#{lockPerson}) and a.LOCK_PERSION is not null and a.LOCK_PERSION != '' and CANDIDATE_STATUS not in (3,4,5,6) 
        	<include refid="candidateWherePart"/>
		ORDER BY CANDIDATE_STATUS,INTERVIEW_STATUS,c.CS_SUBDEPT_NAME,MAJOR_STATUS,CANDIDATE_ID 
        LIMIT #{currentPage},#{pageDataCount};
	</select>
	
	<select id="queryMyCandidateCount" parameterType="com.pmo.dashboard.entity.CandidateInfo" resultType="int" >
	    SELECT 
	    	count(0) 
        FROM 
        	t_candidate a 
        WHERE 
			LOCK_PERSION = if(#{lockPerson}='all',a.LOCK_PERSION,#{lockPerson}) and a.LOCK_PERSION is not null and a.LOCK_PERSION != '' and CANDIDATE_STATUS not in (3,4,5,6) 
        	<include refid="candidateWherePart"/>
			;
	</select>
	<select id="queryCusDeptInfo" parameterType="com.pmo.dashboard.entity.CandidateInfo" resultType="java.util.HashMap" >
	    SELECT 
	    	CS_SUBDEPT_ID 	as csSubDeptId,
	    	CS_SUBDEPT_NAME as csSubDeptName
        FROM 
        	t_cs_dept a 
        group by CS_SUBDEPT_ID,CS_SUBDEPT_NAME 
        ORDER BY CS_SUBDEPT_NAME;
	</select>
	<select id="queryCandidateForId" parameterType="java.lang.String" resultMap="candidateMap" >
	    SELECT * FROM t_candidate a WHERE CANDIDATE_ID = #{candidateId};
	</select>
	<update id="updateCandidateInterviewStatus" parameterType="com.pmo.dashboard.entity.CandidateInfo">
	    update t_candidate set INTERVIEW_STATUS = #{interviewStatus} WHERE CANDIDATE_ID = #{candidateId}; 
	</update>
	<insert id="insertCandidatePushData" parameterType="com.pmo.dashboard.entity.CandidatePush">
	    insert into t_candidate_push (PUSH_ID,CANDIDATE_ID,CS_SUBDEPT_ID,PUSH_USER_ID,PUSH_STATUS,PUSH_DATE)
	    values (#{pushId},#{candidateId},#{csSubDeptId},#{pushUserId},#{pushStatus},#{pushDate})
	</insert>
	<update id="updateCandidatePushStatus" parameterType="com.pmo.dashboard.entity.CandidatePush">
	    update t_candidate_push set PUSH_STATUS = #{pushStatus} WHERE CANDIDATE_ID = #{candidateId} and PUSH_USER_ID = #{pushUserId}; 
	</update>
	<update id="updateCandidateStatus" parameterType="com.pmo.dashboard.entity.CandidateInfo">
	    update t_candidate set CANDIDATE_STATUS = #{candidateStatus},LOCK_PERSION=''  WHERE CANDIDATE_ID = #{candidateId}; 
	</update>
	<update id="updateOnboardCandidate" parameterType="String">
	    update t_candidate set CANDIDATE_STATUS ='2'  WHERE CANDIDATE_ID = #{candidateId}; 
	</update>
	
	<select id="queryMyWaitEntryCandidateList" parameterType="com.pmo.dashboard.entity.CandidateInfo" resultMap="candidateMap" >
		SELECT 
	    	a.*,c.CS_SUBDEPT_NAME,d.STATUS as demandStatus 
        FROM 
        	t_candidate a 
        LEFT JOIN 
        	(select * from 
				(select CANDIDATE_ID,CS_SUBDEPT_ID  
					from  t_candidate_push a
					where PUSH_DATE = 
						(select max(PUSH_DATE) from t_candidate_push b  
							where a.CANDIDATE_ID = b.CANDIDATE_ID
						)  
				)a  
				group by CANDIDATE_ID
			)b
        ON a.CANDIDATE_ID = b.CANDIDATE_ID 
        LEFT JOIN 
        	t_cs_dept c
        ON b.CS_SUBDEPT_ID = c.CS_SUBDEPT_ID 
        INNER JOIN 
        	t_demand d 
        ON a.CANDIDATE_ID = d.CANDIDATE_ID 
        WHERE 
			 LOCK_PERSION = if(#{lockPerson}='all',a.LOCK_PERSION,#{lockPerson}) and a.LOCK_PERSION is not null and a.LOCK_PERSION != '' and CANDIDATE_STATUS in (1,2) and d.STATUS in ('OfferMade','Offermade','delay','Onboard','Offering') 
			 AND d.STATUS != 'Onboard'
        	<include refid="candidateWherePart"/>
		ORDER BY d.STATUS,CANDIDATE_STATUS,INTERVIEW_STATUS,c.CS_SUBDEPT_NAME,MAJOR_STATUS,CANDIDATE_ID 
        LIMIT #{currentPage},#{pageDataCount};
	</select>
	<select id="queryMyWaitEntryCandidateCount" parameterType="com.pmo.dashboard.entity.CandidateInfo" resultType="int" >
		SELECT 
	    	count(0) 
        FROM 
        	t_candidate a 
        INNER JOIN 
        	t_demand d 
        ON a.CANDIDATE_ID  = d.CANDIDATE_ID 
        WHERE 
			LOCK_PERSION = if(#{lockPerson}='all',a.LOCK_PERSION,#{lockPerson}) and a.LOCK_PERSION is not null and a.LOCK_PERSION != '' and CANDIDATE_STATUS in (1,2) and d.STATUS in ('OfferMade','Offermade','delay','Onboard','Offering') 
			AND d.STATUS != 'Onboard'
        	<include refid="candidateWherePart"/>
        ;
	</select>
	<update id="updateCandidateEntryInfo" parameterType="com.pmo.dashboard.entity.CandidateInfo">
	    update t_candidate set REAL_SALARY = #{realSalary},ARRIVAL_DATE = #{arrivalDate} WHERE CANDIDATE_ID = #{candidateId}; 
	</update>
	<update id="updateCandidateDelayArrivalDate" parameterType="com.pmo.dashboard.entity.CandidateInfo">
	    update t_candidate set ARRIVAL_DATE = #{arrivalDate} WHERE CANDIDATE_ID = #{candidateId}; 
	</update>
	<update id="updateDemandStatusDelay" parameterType="com.pmo.dashboard.entity.CandidateInfo">
	    update t_demand set STATUS = 'Delay' WHERE CANDIDATE_ID = #{candidateId} and STATUS in ('OfferMade','Offermade');
	</update>
	<update id="updateCandidateAbortInfo" parameterType="com.pmo.dashboard.entity.CandidateInfo">
	    update t_candidate set CANDIDATE_STATUS = #{candidateStatus},REMARK = #{remark} WHERE CANDIDATE_ID = #{candidateId}; 
	</update>
	<update id="updateDemandAbortColumnInfo" parameterType="com.pmo.dashboard.entity.CandidateInfo">
	    update t_demand set STATUS = 'Abort' WHERE CANDIDATE_ID = #{candidateId} and STATUS in ('OfferMade','Offermade','delay'); 
	</update>
	<select id="queryDemandForCandidateId" parameterType="com.pmo.dashboard.entity.CandidateInfo" resultType="java.util.HashMap" >
		select * from t_demand where CANDIDATE_ID = #{candidateId} and STATUS in ('OfferMade','Offermade','delay'); 
	</select>
	<insert id="insertDemandForAbortCandidate" parameterType="java.util.HashMap">
	    insert into t_demand (DEMAND_ID,RR,JOB_CODE,SKILL,REQUESTOR,POSITION,HSBC_SUBDEPT_ID,LOCATION,REQ_PUBLISHED_DATE,AGEING,PROFILES_NO,INTERVIEWED_NO,`STATUS`,PROPOSED_JOINING_DATE,SOW_SIGNED,REASON,REMARK,CS_SUBDEPT,PLANNED_ONBOARD_DATE,DO_NUMBER,HR_PRIORITY,CREATE_DATE,COMPLETION_DATE)
	    	values (#{DEMAND_ID},#{RR},#{JOB_CODE},#{SKILL},#{REQUESTOR},#{POSITION},#{HSBC_SUBDEPT_ID},#{LOCATION},#{REQ_PUBLISHED_DATE},#{AGEING},#{PROFILES_NO},#{INTERVIEWED_NO},'OPEN',#{PROPOSED_JOINING_DATE},#{SOW_SIGNED},#{REASON},#{REMARK},#{CS_SUBDEPT},#{PLANNED_ONBOARD_DATE},#{DO_NUMBER},#{HR_PRIORITY},#{CREATE_DATE},#{COMPLETION_DATE})
	</insert>
	<sql id="candidateWherePart">
		<if test="candidateName != null and candidateName != ''">
			AND a.CANDIDATE_NAME = #{candidateName}
		</if>
		<if test="candidateTel != null and candidateTel != ''">
			AND TEL like CONCAT('%',#{candidateTel},'%')
		</if>
		<if test="candidateStatus != null and candidateStatus != ''">
			AND CANDIDATE_STATUS = #{candidateStatus}
		</if>
		<if test="majorStatus != null and majorStatus != ''">
			AND MAJOR_STATUS = #{majorStatus}
		</if>
		<if test="workYearsStart != null and workYearsStart != ''">
			AND EXPERIENCE_YEARS >= ${workYearsStart}
		</if>
		<if test="workYearsEnd != null and workYearsEnd != ''">
			AND EXPERIENCE_YEARS <![CDATA[<=]]> ${workYearsEnd}
		</if>
		<if test="education != null and education != ''">
			AND EDUCATION = #{education}
		</if>
		<if test="skill != null and skill != ''">
			AND a.SKILL = #{skill}
		</if>
		<if test="email != null and email != ''">
			AND EMAIL like CONCAT('%',#{email},'%')
		</if>
		<if test="englishLevel != null and englishLevel != ''">
			AND ENGLISH_LEVEL = #{englishLevel}
		</if>
		<if test="userName != null and userName != ''">
			AND NICKNAME = #{userName}
		</if>
		<if test="source != null and source != ''">
			AND SOURCE = #{source}
		</if>
		<if test="interviewStatus != null and interviewStatus != ''">
			AND INTERVIEW_STATUS = #{interviewStatus}
		</if>
		<if test="demandStatus != null and demandStatus != ''">
			AND STATUS = #{demandStatus}
		</if>
		<if test="csSubdeptName != null and csSubdeptName != ''">
			AND CS_SUBDEPT_NAME = #{csSubdeptName}
		</if>
    </sql>
	
	<select id="getCandidateListCount" parameterType="com.pmo.dashboard.entity.CandidateInfo" resultType="int" >
			SELECT count(0) FROM t_candidate c WHERE c.CANDIDATE_ID IN
				(SELECT DISTINCT ci.CANDIDATE_ID 
				FROM t_candidate_interview ci
				JOIN t_user u 
				ON ci.INTERVIEWER_ID = u.USER_ID)  
			<if test="candidateName != null and candidateName != ''">
				AND CANDIDATE_NAME = #{candidateName}
			</if>
			<if test="candidateTel != null and candidateTel != ''">
				AND TEL = #{candidateTel}
			</if>
	</select>
	
	<select id="getCandidateList" parameterType="com.pmo.dashboard.entity.CandidateInfo" resultMap="candidateMap" >
			SELECT * FROM t_candidate c WHERE c.CANDIDATE_ID IN
				(SELECT DISTINCT ci.CANDIDATE_ID 
				FROM t_candidate_interview ci
				JOIN t_user u 
				ON ci.INTERVIEWER_ID = u.USER_ID) 
			<if test="candidateName != null and candidateName != ''">
				AND CANDIDATE_NAME = #{candidateName}
			</if>
			<if test="candidateTel != null and candidateTel != ''">
				AND TEL = #{candidateTel}
			</if>
				LIMIT #{currentPage},#{pageDataCount};
	</select>
	
	<select id="getInterviewRecordByCandId" parameterType="com.pmo.dashboard.entity.CandidateInfo" resultMap="candidateMap" >
		SELECT a.NICKNAME,ci.FEEDBACK,ci.FATHER_INTERVIEW_ID,ci.INTERVIEW_SERIAL,
			ci.INTERVIEW_DATE,dept.CS_SUBDEPT_NAME,ci.INTERVIEW_STATUS,ci.PROJECT_NAME,ci.INTERVIEW_TYPE
			FROM t_user a 
			JOIN t_candidate_interview ci ON ci.INTERVIEWER_ID = a.USER_ID
			LEFT JOIN t_candidate b on ci.CANDIDATE_ID = b.CANDIDATE_ID
			LEFT JOIN t_cs_dept dept on dept.CS_SUBDEPT_ID = ci.CSSUBDEPT
	        WHERE b.CANDIDATE_ID = #{candidateId}
			ORDER BY ci.INTERVIEW_DATE;
	</select>
	
	<update id="updateInterviewStatusById" parameterType="java.util.HashMap">
		update t_candidate set INTERVIEW_STATUS = #{interviewStatus},CANDIDATE_STATUS = '1'
		where CANDIDATE_ID = #{candidateId}
	</update>
	<update id="modifyInterviewStatusById" parameterType="java.util.HashMap">
		update t_candidate set INTERVIEW_STATUS = #{interviewStatus},CANDIDATE_STATUS = '1'
		where CANDIDATE_ID = #{candidateId}
	</update>
	<update id="lockCandidate" parameterType="java.util.HashMap">
		update t_candidate set CANDIDATE_STATUS = '0',LOCK_PERSION = #{userId}
		where CANDIDATE_ID = #{candidateId}
	</update>
	
	<update id="updateDemandStatusOfferMade" parameterType="com.pmo.dashboard.entity.CandidateInfo">
		update t_demand set STATUS = 'OfferMade' , BGV_CLEARED = 'Initiated' WHERE CANDIDATE_ID = #{candidateId} and STATUS in ('Offering','offering');
	</update>
	
	<select id="queryBlackList" parameterType="com.pmo.dashboard.entity.CandidateInfo" resultMap="candidateMap" >
	    SELECT 
	    	* 
        FROM 
        	t_candidate
        WHERE 
			CANDIDATE_STATUS between '4' and '6' 
        	<include refid="candidateWherePart"/>
		ORDER BY CANDIDATE_STATUS,EXPERIENCE_YEARS desc,EDUCATION,MAJOR_STATUS,CANDIDATE_ID 
        LIMIT #{currentPage},#{pageDataCount};
	</select>
	
	<select id="queryBlackListCount" parameterType="com.pmo.dashboard.entity.CandidateInfo" resultType="int" >
	    SELECT 
	    	count(0) 
        FROM 
        	t_candidate 
        WHERE 
			CANDIDATE_STATUS between '4' and '6' 
        	<include refid="candidateWherePart"/>
			;
	</select>
</mapper>