<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pmo.dashboard.dao.CSDeptMapper">
	<resultMap id="csDeptMap" type="com.pmo.dashboard.entity.CSDept">
		<id property="csSubDeptId" column="CS_SUBDEPT_ID" javaType="String" />
		<result property="csSubDeptName" column="CS_SUBDEPT_NAME" javaType="String" />
		<result property="csBuName" column="CS_BU_NAME" javaType="String" />
		<result property="am" column="AM" javaType="String" />
	</resultMap>
	
	<select id="queryAllCSDept" resultMap="csDeptMap">
	    SELECT * FROM t_cs_dept ORDER BY CS_BU_NAME
	</select>
	
	<select id="queryCSDeptById" parameterType="String" resultMap="csDeptMap">
	    SELECT * FROM t_cs_dept WHERE CS_SUBDEPT_ID = #{csSubDeptId}
	</select>
	
	<select id="queryAllCSSubDeptName" resultMap="csDeptMap">
	    SELECT DISTINCT CS_SUBDEPT_NAME,CS_SUBDEPT_ID FROM t_cs_dept
	</select>
	
	<select id="queryCSSubDeptNameByCsBuName" parameterType="String" resultMap="csDeptMap">
	    SELECT *  FROM t_cs_dept WHERE CS_BU_NAME = #{csBuName} GROUP BY CS_SUBDEPT_NAME
	</select>
	

	<select id="queryCsSubDeptByCsBuName" parameterType="String" resultType="String">
	    SELECT CS_SUBDEPT_NAME  FROM t_cs_dept WHERE CS_BU_NAME = #{csBuName} GROUP BY CS_SUBDEPT_NAME
	</select>

</mapper>