<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pmo.dashboard.dao.DemandMapper">
	<resultMap id="demandMap" type="com.pmo.dashboard.entity.Demand">
		<id property="demandId" column="DEMAND_ID" javaType="String" />
		<result property="rr" column="RR" javaType="String" />
		<result property="jobCode" column="JOB_CODE" javaType="String" />
		<result property="skill" column="SKILL" javaType="String" />
		<result property="requestor" column="REQUESTOR" javaType="String" />
		<result property="position" column="POSITION" javaType="String" />
		<result property="hsbcSubDeptId" column="HSBC_SUBDEPT_ID" javaType="String" />
		<result property="location" column="LOCATION" javaType="String" />
		<result property="reqPublishedDate" column="REQ_PUBLISHED_DATE" javaType="String" />
		<result property="ageing" column="AGEING" javaType="String" />
		<result property="profilesNo" column="PROFILES_NO" javaType="String" />
		<result property="interviewedNo" column="INTERVIEWED_NO" javaType="String" />
		<result property="status" column="STATUS" javaType="String" />
		<result property="candidateName" column="CANDIDATE_NAME" javaType="String" />
		<result property="candidateId" column="CANDIDATE_ID" javaType="String" />
		<result property="proposedJoiningDate" column="PROPOSED_JOINING_DATE" javaType="String" />
		<result property="sowSigned" column="SOW_SIGNED" javaType="String" />
		<result property="bgvCleared" column="BGV_CLEARED" javaType="String" />
		<result property="reason" column="REASON" javaType="String" />
		<result property="remark" column="REMARK" javaType="String" />
		<result property="csSubDept" column="CS_SUBDEPT" javaType="String" />
		<result property="plannedOnboardDate" column="PLANNED_ONBOARD_DATE" javaType="String" />
		<result property="onboardDate" column="ONBOARD_DATE" javaType="String" />
		<result property="doNumber" column="DO_NUMBER" javaType="String" />
		<result property="hrPriority" column="HR_PRIORITY" javaType="String" />
		<result property="completionDay" column="COMPLETION_DAY" javaType="String" />
		
		<result property="hsbcSubDeptName" column="HSBC_SUBDEPT_NAME" javaType="String" />
		<result property="hsbcDeptName" column="HSBC_DEPT_NAME" javaType="String" />
		<result property="csDeptName" column="CS_SUBDEPT_NAME" javaType="String" />
		<result property="engagementType" column="ENGAGEMENT_TYPE" javaType="String" />
		<!-- <association property="hsbcDept" javaType="com.pmo.dashboard.entity.HSBCDept">
		
			<id column="HSBC_SUBDEPT_ID" property="hsbcSubDeptId" />
			<id column="HSBC_SUBDEPT_NAME" property="hsbcSubDeptName" />
			<id column="HSBC_DEPT_NAME" property="hsbcDeptName" />
		</association> -->
	</resultMap>
	
	<sql id="queryWhere">
		<where>
			<if test="demand.skill!=null and demand.skill!=''">
				and SKILL = #{demand.skill}
			</if>
			<if test="demand.position!=null and demand.position!=''">
				and position = #{demand.position}
			</if>
			<if test="demand.status!=null and demand.status!=''">
				and status = #{demand.status}
			</if>
			<if test="demand.rr!=null and demand.rr!=''">
				and rr = #{demand.rr}
			</if>
			<choose>
				<when test="demand.csSubDept!=null and demand.csSubDept!=''">
					and CS_SUBDEPT = #{demand.csSubDept}
				</when>
				<otherwise>
					<if test="csBuName!=null and csBuName!=''">
						and CS_SUBDEPT in
						<foreach item="item" collection="csSubDeptList" open="(" separator="," close=")">
							#{item.csSubDeptName}
						</foreach>
					</if>
				</otherwise>
			</choose>
			<if test="demand.hsbcDept.hsbcDeptName!=null and demand.hsbcDept.hsbcDeptName!=''">
				and HSBC_SUBDEPT_ID in 
				<foreach item="item" collection="hsbcSubDeptIdList" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
		</where>
	</sql>
	
	<select id="queryDemandById" parameterType="String" resultMap ="demandMap">
	    SELECT * FROM t_demand a ,t_cs_dept b,t_hsbc_dept c WHERE a.CS_SUBDEPT=b.CS_SUBDEPT_ID and a.HSBC_SUBDEPT_ID=c.HSBC_SUBDEPT_ID and a.DEMAND_ID = #{demandId};
	</select>
	
	<select id="queryDemandBycandidateId" parameterType="String" resultMap ="demandMap">
	    SELECT * FROM t_demand a ,t_cs_dept b,t_hsbc_dept c WHERE a.CS_SUBDEPT=b.CS_SUBDEPT_ID and a.HSBC_SUBDEPT_ID=c.HSBC_SUBDEPT_ID and   a.CANDIDATE_ID = #{candidateId};
	</select>
	<select id="queryDemandList" parameterType="java.util.HashMap" resultMap="demandMap">
		select *
		from  t_demand a,t_cs_dept b 
		<where>
		    b.cs_subdept_id=a.cs_subdept
			<if test="demand.skill!=null and demand.skill!=''">
				and a.SKILL = #{demand.skill}
			</if>
			<if test="demand.position!=null and demand.position!=''">
				and a.position = #{demand.position}
			</if>
			<if test="demand.status!=null and demand.status!=''">
				and a.status = #{demand.status}
			</if>
			<if test="demand.rr!=null and demand.rr!=''">
				and a.rr = #{demand.rr}
			</if>
			<if test="csBuName!=null and csBuName!=''">
				and B.CS_BU_NAME = #{csBuName}
			</if>
			 <choose>
				<when test="demand.csSubDept!=null and demand.csSubDept!=''">
					and a.CS_SUBDEPT = #{demand.csSubDept}
				</when>
				<otherwise>
					<!-- <if test="csBuName!=null and csBuName!=''">
						and B.CS_BU_NAME=
						<foreach item="item" collection="csSubDeptList" open="(" separator="," close=")">
							#{item.csSubDeptName}
						</foreach>
					</if> -->
				</otherwise>
			</choose>
			<!-- <if test="demand.hsbcDept.hsbcDeptName!=null and demand.hsbcDept.hsbcDeptName!=''">
				and HSBC_SUBDEPT_ID in 
				<foreach item="item" collection="hsbcSubDeptIdList" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if> -->
		</where>
		limit #{num}, #{pageCondition.pageSize}
	</select>
	
	<select id="queryDemandListForCandidate" parameterType="java.util.HashMap" resultMap="demandMap">
		select *
		from  t_demand a,t_cs_dept b 
		<where>
		    a.CANDIDATE_ID!="" and b.cs_subdept_id=a.cs_subdept and a.STATUS in("Onboard","OfferMade")
			<if test="demand.candidateName!=null and demand.candidateName!=''">
				and a.CANDIDATE_NAME = #{demand.candidateName}
			</if>
			
			<if test="demand.rr!=null and demand.rr!=''">
				and a.rr = #{demand.rr}
			</if>
			<if test="csBuName!=null and csBuName!=''">
				and B.CS_BU_NAME = #{csBuName}
			</if>
			<choose>
				<when test="demand.csSubDept!=null and demand.csSubDept!=''">
					and a.CS_SUBDEPT = #{demand.csSubDept}
				</when>
			</choose>
			<!-- <if test="demand.hsbcDept.hsbcDeptName!=null and demand.hsbcDept.hsbcDeptName!=''">
				and HSBC_SUBDEPT_ID in 
				<foreach item="item" collection="hsbcSubDeptIdList" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if> -->
		</where>
		limit #{num}, #{pageCondition.pageSize}
	</select>
	
	<select id="queryDemandCount" parameterType="java.util.HashMap" resultType="int">
		select count(1)
		from  t_demand a,t_cs_dept b 
		<where>
		    b.cs_subdept_id=a.cs_subdept
			<if test="demand.skill!=null and demand.skill!=''">
				and a.SKILL = #{demand.skill}
			</if>
			<if test="demand.position!=null and demand.position!=''">
				and a.position = #{demand.position}
			</if>
			<if test="demand.status!=null and demand.status!=''">
				and a.status = #{demand.status}
			</if>
			<if test="demand.rr!=null and demand.rr!=''">
				and a.rr = #{demand.rr}
			</if>
			<if test="csBuName!=null and csBuName!=''">
				and b.CS_BU_NAME = #{csBuName}
			</if>
			<if test="demand.csSubDept!=null and demand.csSubDept!=''">
			    and a.CS_SUBDEPT = #{demand.csSubDept}
			</if>
			<!-- <if test="demand.hsbcDept.hsbcDeptName!=null and demand.hsbcDept.hsbcDeptName!=''">
				and HSBC_SUBDEPT_ID in 
				<foreach item="item" collection="hsbcSubDeptIdList" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if> -->
		</where>
		
	</select>
	<select id="queryDemandCountForCandidate" parameterType="java.util.HashMap" resultType="int">
		select count(1)
		from  t_demand a,t_cs_dept b 
		<where>
		    a.CANDIDATE_ID!="" and b.cs_subdept_id=a.cs_subdept and a.STATUS in("Onboard","OfferMade")
			<if test="demand.skill!=null and demand.skill!=''">
				and a.SKILL = #{demand.skill}
			</if>
			<if test="demand.position!=null and demand.position!=''">
				and a.position = #{demand.position}
			</if>
			<if test="demand.status!=null and demand.status!=''">
				and a.status = #{demand.status}
			</if>
			<if test="demand.rr!=null and demand.rr!=''">
				and a.rr = #{demand.rr}
			</if>
			<if test="csBuName!=null and csBuName!=''">
				and b.CS_BU_NAME = #{csBuName}
			</if>
			<if test="demand.csSubDept!=null and demand.csSubDept!=''">
			    and a.CS_SUBDEPT = #{demand.csSubDept}
			</if>
			<!-- <if test="demand.hsbcDept.hsbcDeptName!=null and demand.hsbcDept.hsbcDeptName!=''">
				and HSBC_SUBDEPT_ID in 
				<foreach item="item" collection="hsbcSubDeptIdList" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if> -->
		</where>
		
	</select>
	
	<select id="queryAllDemand" parameterType="java.util.HashMap" resultMap="demandMap">
		select * 
		from t_demand
		<include refid="queryWhere"/>
	</select>
	
	<select id="queryOfferDemandList" parameterType="com.pmo.dashboard.entity.CandidatePush" resultMap="demandMap">
		select a.*
		from t_demand a,t_cs_dept b
		where b.cs_subdept_id=a.CS_SUBDEPT and b.cs_subdept_name= #{csDept.csSubDeptName} and a.status='OPEN'
	</select>
	
	<update id="updateCandidateIdById" parameterType="java.util.HashMap">
		update t_demand set CANDIDATE_ID = #{candidateId},CANDIDATE_NAME = #{candidateName}, STATUS = 'Offering'
		where DEMAND_ID = #{demandId}
	</update>
	
	<!-- gkf onBoard  -->
	<update id="updateDemandOnBoardById" parameterType="java.util.HashMap">
		update t_demand set STATUS = 'Onboard', BGV_CLEARED = 'Completed',SOW_SIGNED = 'Fully signed off',ENGAGEMENT_TYPE = #{engagementType},
		PROFILES_NO = #{profilesNo},INTERVIEWED_NO = #{interviewedNo},DO_NUMBER = #{doNumber},COMPLETION_DATE = date_format(now(),'%Y-%m-%d'),
		UPDATE_DATE= date_format(now(),'%Y-%m-%d'),ONBOARD_DATE = #{onboardDate},PLANNED_ONBOARD_DATE = #{plannedOnboardDate}
		where CANDIDATE_ID = #{candidateId}
	</update>
	
	<!-- gkf 背调维护 -->
	<update id="updateBackForCandidate" parameterType="java.util.HashMap">
		update t_demand set BGV_CLEARED = #{bgvCleared},UPDATE_DATE= date_format(now(),'%Y-%m-%d')
		where CANDIDATE_ID = #{candidateId}
	</update>
</mapper>