<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pmo.dashboard.dao.EmployeeMapper">
	<resultMap id="employeeMap" type="com.pmo.dashboard.entity.Employee">
		<id property="employeeId" column="EMPLOYEE_ID" javaType="String" />
		<result property="eHr" column="E_Hr" javaType="String" />
		<result property="lob" column="LOB" javaType="String" />
		<result property="hsbcStaffId" column="HSBC_STAFF_ID" javaType="String" />
		<result property="staffName" column="STAFF_NAME" javaType="String" />
		<result property="ln" column="LN" javaType="String" />
		<result property="staffRegion" column="STAFF_REGION" javaType="String" />
		<result property="staffLocation" column="STAFF_LOCATION" javaType="String" />
		<result property="locationType" column="LOCATION_TYPE" javaType="String" />
		<result property="onshoreOrOffshore" column="ONSHORE_OR_OFFSHORE" javaType="String" />
		<result property="csSubDept" column="CS_SUBDEPT_ID" javaType="String" />
		<result property="hsbcSubDept" column="HSBC_SUBDEPT_ID" javaType="String" />
		<result property="projectName" column="HSBC_PROJECT_NAME" javaType="String" />
		<result property="projectManager" column="HSBC_MANAGER" javaType="String" />
		<result property="sow" column="SOW" javaType="String" />
		<result property="sowExpiredDate" column="SOW_EXPIRED_DATE" javaType="String" />
		<result property="staffCategory" column="STAFF_CATEGORY" javaType="String" />
		<result property="engagementType" column="ENGAGEMENT_TYPE" javaType="String" />
		<result property="hsbcDOJ" column="HSBC_DOJ" javaType="String" />
		<result property="graduationDate" column="GRADUATION_DATE" javaType="String" />
		<result property="role" column="ROLE" javaType="String" />
		<result property="skill" column="SKILL" javaType="String" />
		<result property="billingCurrency" column="BILL_CURRENCY" javaType="String" />
		<result property="billRate" column="BILL_RATE" javaType="String" />
		<result property="resourceStatus" column="RESOURCE_STATUS" javaType="String" />
		<result property="terminatedDate" column="MENTION_LWD" javaType="String" />
		<result property="terminationReason" column="REASON_FOR_TERMINATION" javaType="String" />
		<result property="interviewStatus" column="INTERVIERW_STATUS" javaType="String" />
		<result property="email" column="Email" javaType="String" />
		<result property="gbGf" column="GB_GF" javaType="String" />
		<result property="entryDate" column="ENTRY_DATE" javaType="String" />
		<result property="rmUserId" column="RM_USER_ID" javaType="String" />
		<result property="engagementType" column="ENGAGEMENT_TYPE" javaType="String" />
		<result property="nickname" column="NICKNAME" javaType="String" />
		<result column="ITINDUSTRY_WORK_YEAR" property="itindustryWorkYear" jdbcType="VARCHAR" />
		<result property="chsoftiProNumber" column="CHSOFTI_PRO_NUMBER" javaType="String" />
		<result property="chsoftiProStartdate" column="CHSOFTI_PRO_STARTDATE" javaType="String" />
		<result property="chsoftiProName" column="CHSOFTI_PRO_NAME" javaType="String" />
	</resultMap>
	
	
	<insert id="addEmployee" parameterType="com.pmo.dashboard.entity.Employee">
	    insert into t_employee (EMPLOYEE_ID,HSBC_STAFF_ID,STAFF_NAME,LN,STAFF_REGION,STAFF_LOCATION,LOCATION_TYPE,ONSHORE_OR_OFFSHORE,SOW,SOW_EXPIRED_DATE,STAFF_CATEGORY,ENGAGEMENT_TYPE,HSBC_DOJ,GRADUATION_DATE,BILL_CURRENCY,BILL_RATE,RESOURCE_STATUS,MENTION_LWD,REASON_FOR_TERMINATION,E_HR,HSBC_SUBDEPT_ID,SKILL,ROLE,CS_SUBDEPT_ID,LOB,HSBC_MANAGER,HSBC_PROJECT_NAME,Email,GB_GF,ENTRY_DATE,RM_USER_ID,CREATE_TIME,UPDATE_TIME,ITINDUSTRY_WORK_YEAR,CHSOFTI_PRO_NUMBER,CHSOFTI_PRO_STARTDATE,CHSOFTI_PRO_NAME)
	    values
	    (#{employeeId},#{hsbcStaffId},#{staffName},#{ln},#{staffRegion},#{staffLocation},#{locationType},#{onshoreOrOffshore},#{sow},#{sowExpiredDate},#{staffCategory},#{engagementType},#{hsbcDOJ},#{graduationDate},#{billingCurrency},#{billRate},#{resourceStatus},#{terminatedDate},#{terminationReason},#{eHr},#{hsbcSubDept},#{skill},#{role},#{csSubDept},#{lob},#{projectManager},#{projectName},
	    #{email},#{gbGf},#{entryDate},#{rmUserId},#{createTime},#{updateTime},#{itindustryWorkYear,jdbcType=VARCHAR},#{chsoftiProNumber},#{chsoftiProStartdate},#{chsoftiProName})
	</insert>  
	<!--  <insert id="addEmployee" parameterType="com.pmo.dashboard.entity.Employee">
	    insert into t_employee (EMPLOYEE_ID,HSBC_STAFF_ID,STAFF_NAME,LN,STAFF_REGION,STAFF_LOCATION,LOCATION_TYPE,ONSHORE_OR_OFFSHORE,SOW,SOW_EXPIRED_DATE,STAFF_CATEGORY,ENGAGEMENT_TYPE,HSBC_DOJ,GRADUATION_DATE,BILL_CURRENCY,BILL_RATE,RESOURCE_STATUS,MENTION_LWD,REASON_FOR_TERMINATION,E_HR,HSBC_SUBDEPT_ID,SKILL,ROLE,CS_SUBDEPT_ID,LOB,HSBC_MANAGER,HSBC_PROJECT_NAME,Email,GB_GF,ENTRY_DATE,RM_USER_ID,CREATE_TIME,UPDATE_TIME,ITINDUSTRY_WORK_YEAR,CHSOFTI_PRO_NUMBER,CHSOFTI_PRO_STARTDATE,CHSOFTI_PRO_NAME)
	    values
	    (#{employeeId},#{hsbcStaffId},#{staffName},#{ln},#{staffRegion},#{staffLocation},#{locationType},#{onshoreOrOffshore},#{sow},#{sowExpiredDate},#{staffCategory},#{engagementType},#{hsbcDOJ},#{graduationDate},#{billingCurrency},#{billRate},#{resourceStatus},#{terminatedDate},#{terminationReason},#{eHr},#{hsbcSubDept},#{skill},#{role},#{csSubDept},#{lob},#{projectManager},#{projectName},
	    #{email},#{gbGf},#{entryDate},#{rmUserId},#{createTime},#{updateTime},#{itindustryWorkYear,jdbcType=VARCHAR},#{chsoftiProNumber},#{chsoftiProStartDate},#{chsoftiProName})
	</insert> --> 
	
	<!--
	<insert id="addEmployee" parameterType="com.pmo.dashboard.entity.Employee" >
    insert into t_employee
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="employeeId != null" >
        EMPLOYEE_ID,
      </if>
      <if test="hsbcStaffId != null" >
        HSBC_STAFF_ID,
      </if>
      <if test="staffName != null" >
        STAFF_NAME,
      </if>
      <if test="ln != null" >
        LN,
      </if>
      <if test="staffRegion != null" >
        STAFF_REGION,
      </if>
      <if test="staffLocation != null" >
        STAFF_LOCATION,
      </if>
      <if test="locationType != null" >
        LOCATION_TYPE,
      </if>
      <if test="onshoreOrOffshore != null" >
        ONSHORE_OR_OFFSHORE,
      </if>
      <if test="sow != null" >
        SOW,
      </if>
      <if test="sowExpiredDate != null" >
        SOW_EXPIRED_DATE,
      </if>
      <if test="staffCategory != null" >
        STAFF_CATEGORY,
      </if>
      <if test="engagementType != null" >
        ENGAGEMENT_TYPE,
      </if>
      <if test="hsbcDoj != null" >
        HSBC_DOJ,
      </if>
      <if test="graduationDate != null" >
        GRADUATION_DATE,
      </if>
      <if test="billCurrency != null" >
        BILL_CURRENCY,
      </if>
      <if test="billRate != null" >
        BILL_RATE,
      </if>
      <if test="resourceStatus != null" >
        RESOURCE_STATUS,
      </if>
      <if test="mentionLwd != null" >
        MENTION_LWD,
      </if>
      <if test="reasonForTermination != null" >
        REASON_FOR_TERMINATION,
      </if>
      <if test="eHr != null" >
        E_HR,
      </if>
      <if test="hsbcSubdeptId != null" >
        HSBC_SUBDEPT_ID,
      </if>
      <if test="skill != null" >
        SKILL,
      </if>
      <if test="role != null" >
        ROLE,
      </if>
      <if test="csSubdeptId != null" >
        CS_SUBDEPT_ID,
      </if>
      <if test="lob != null" >
        LOB,
      </if>
      <if test="intervierwStatus != null" >
        INTERVIERW_STATUS,
      </if>
      <if test="hsbcManager != null" >
        HSBC_MANAGER,
      </if>
      <if test="hsbcProjectName != null" >
        HSBC_PROJECT_NAME,
      </if>
      <if test="rmUserId != null" >
        RM_USER_ID,
      </if>
      <if test="email != null" >
        Email,
      </if>
      <if test="gbGf != null" >
        GB_GF,
      </if>
      <if test="entryDate != null" >
        ENTRY_DATE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="employeeId != null" >
        #{employeeId},
      </if>
      <if test="hsbcStaffId != null" >
        #{hsbcStaffId},
      </if>
      <if test="staffName != null" >
        #{staffName},
      </if>
      <if test="ln != null" >
        #{ln},
      </if>
      <if test="staffRegion != null" >
        #{staffRegion},
      </if>
      <if test="staffLocation != null" >
        #{staffLocation},
      </if>
      <if test="locationType != null" >
        #{locationType},
      </if>
      <if test="onshoreOrOffshore != null" >
        #{onshoreOrOffshore},
      </if>
      <if test="sow != null" >
        #{sow},
      </if>
      <if test="sowExpiredDate != null" >
        #{sowExpiredDate},
      </if>
      <if test="staffCategory != null" >
        #{staffCategory},
      </if>
      <if test="engagementType != null" >
        #{engagementType},
      </if>
      <if test="hsbcDoj != null" >
        #{hsbcDoj},
      </if>
      <if test="graduationDate != null" >
        #{graduationDate},
      </if>
      <if test="billCurrency != null" >
        #{billCurrency},
      </if>
      <if test="billRate != null" >
        #{billRate},
      </if>
      <if test="resourceStatus != null" >
        #{resourceStatus},
      </if>
      <if test="mentionLwd != null" >
        #{mentionLwd},
      </if>
      <if test="reasonForTermination != null" >
        #{reasonForTermination},
      </if>
      <if test="eHr != null" >
        #{eHr},
      </if>
      <if test="hsbcSubdeptId != null" >
        #{hsbcSubdeptId},
      </if>
      <if test="skill != null" >
        #{skill},
      </if>
      <if test="role != null" >
        #{role},
      </if>
      <if test="csSubdeptId != null" >
        #{csSubdeptId},
      </if>
      <if test="lob != null" >
        #{lob},
      </if>
      <if test="intervierwStatus != null" >
        #{intervierwStatus},
      </if>
      <if test="hsbcManager != null" >
        #{hsbcManager},
      </if>
      <if test="hsbcProjectName != null" >
        #{hsbcProjectName},
      </if>
      <if test="rmUserId != null" >
        #{rmUserId},
      </if>
      <if test="email != null" >
        #{email},
      </if>
      <if test="gbGf != null" >
        #{gbGf},
      </if>
      <if test="entryDate != null" >
        #{entryDate},
      </if>
      <if test="createTime != null" >
        #{createTime},
      </if>
      <if test="updateTime != null" >
        #{updateTime},
      </if>
    </trim>
  </insert>  -->
	
	<select id="queryEmployeeById" parameterType="String" resultMap="employeeMap">
	    SELECT e.*,c.CS_SUBDEPT_NAME as csSubDeptName,u.NICKNAME  FROM t_employee e 
	    left join  t_cs_dept c on e.CS_SUBDEPT_ID= c.CS_SUBDEPT_ID 
	    left join t_user u on e.RM_USER_ID = u.USER_ID
	    WHERE EMPLOYEE_ID = #{employeeId};
	</select>
	
	<select id="queryEmployeeList" parameterType="com.pmo.dashboard.entity.EmployeePageCondition" resultMap="employeeMap">
	    SELECT * FROM t_employee e left join t_cs_dept c on e.CS_SUBDEPT_ID = c.CS_SUBDEPT_ID WHERE 1 = 1 
	    <if test="csDeptName != null and csDeptName != ''">
				AND cs_dept_name = #{csDeptName}
		</if>
		<if test="csSubDeptName != null and csSubDeptName != ''">
				AND CS_SUBDEPT_NAME = #{csSubDeptName}
		</if>
		<if test="eHr != null and eHr != ''">
				AND E_Hr = #{eHr}
		</if>
		<if test="lob != null and lob != ''">
				AND LOB = #{lob}
		</if>
		<if test="csbuName != null and csbuName != ''">
				AND CS_BU_NAME = #{csbuName}
		</if>
		<if test="resourceStatus != null and resourceStatus != ''">
			AND RESOURCE_STATUS = #{resourceStatus}
		</if>
		<if test="staffName != null and staffName != ''">
			AND STAFF_NAME = #{staffName}
		</if>
		<if test="rmUserId != null and rmUserId != ''">
			AND RM_USER_ID = #{rmUserId}
		</if>
		<if test="hsbcStaffId != null and hsbcStaffId != ''">
			AND HSBC_STAFF_ID = #{hsbcStaffId}
		</if>
		<if test="engagementType != null and engagementType != ''">
			AND ENGAGEMENT_TYPE = #{engagementType}
		</if>
		
	</select>
	
	<update id="updateEmployee" parameterType="com.pmo.dashboard.entity.Employee">
	    update t_employee set E_Hr = #{eHr},LOB = #{lob},HSBC_STAFF_ID = #{hsbcStaffId},STAFF_NAME = #{staffName},LN = #{ln},STAFF_REGION = #{staffRegion},STAFF_LOCATION = #{staffLocation},LOCATION_TYPE = #{locationType},ONSHORE_OR_OFFSHORE = #{onshoreOrOffshore},CS_SUBDEPT_ID = #{csSubDept},HSBC_SUBDEPT_ID = #{hsbcSubDept},HSBC_PROJECT_NAME = #{projectName},HSBC_MANAGER = #{projectManager},SOW = #{sow},SOW_EXPIRED_DATE = #{sowExpiredDate},STAFF_CATEGORY = #{staffCategory},ENGAGEMENT_TYPE = #{engagementType},HSBC_DOJ= #{hsbcDOJ},GRADUATION_DATE = #{graduationDate},BILL_CURRENCY = #{billingCurrency},BILL_RATE = #{billRate},RESOURCE_STATUS = #{resourceStatus},MENTION_LWD = #{terminatedDate},REASON_FOR_TERMINATION = #{terminationReason},ROLE = #{role},SKILL = #{skill},
	     Email = #{email},GB_GF = #{gbGf},ENTRY_DATE = #{entryDate},UPDATE_TIME = #{updateTime},ITINDUSTRY_WORK_YEAR = #{itindustryWorkYear,jdbcType=VARCHAR},
	     CHSOFTI_PRO_NUMBER = #{chsoftiProNumber},CHSOFTI_PRO_STARTDATE = #{chsoftiProStartdate},CHSOFTI_PRO_NAME = #{chsoftiProName} WHERE EMPLOYEE_ID = #{employeeId} 
	</update>
	
	<select id="queryEmployeeByCsSubDeptId" parameterType="java.util.HashMap" resultMap="employeeMap">
	    SELECT * FROM t_employee WHERE CS_SUBDEPT_ID = #{csSubDeptId} and INTERVIERW_STATUS = #{intervierwStatus};
	</select>

	<select id="selectByEhr" parameterType="String" resultMap="employeeMap">
		select * from t_employee e  where e.E_HR=#{eHr} and RESOURCE_STATUS in ('Active','Released')
	</select>
	<select id="selectByLob" parameterType="String" resultMap="employeeMap">
		select * from t_employee e  where e.LOB=#{lob}
	</select>
	<select id="selectByHSBCStaffID" parameterType="String" resultMap="employeeMap">
		select * from t_employee e  where e.HSBC_STAFF_ID=#{staffId}
	</select>
	<select id="getBillRate" parameterType="com.pmo.dashboard.entity.Employee" resultType="java.lang.String">
	   SELECT BillRate FROM t_rate WHERE Locations = #{staffRegion} AND Role = #{role} AND Technology LIKE CONCAT('%',#{skill},'%')
	</select>
	<select id="getAllInterviewer"  resultMap="employeeMap">
		select * from t_employee where INTERVIERW_STATUS = "1" 
	</select>
	
	
	<select id="getEmployeeByLastUpdateTime" parameterType="String" resultMap="employeeMap">
	    SELECT * FROM t_employee e left join t_cs_dept c on e.CS_SUBDEPT_ID = c.CS_SUBDEPT_ID WHERE 1 = 1 
	    and e.UPDATE_TIME >#{lastUpdateTime}
	</select>
	
	<update id="importEmployeeProject" parameterType="com.pmo.dashboard.entity.Employee">
 	    update t_employee set CHSOFTI_PRO_NUMBER = #{chsoftiProNumber},CHSOFTI_PRO_NAME = #{chsoftiProName},CHSOFTI_PRO_STARTDATE = #{chsoftiProStartdate}
 	      WHERE EMPLOYEE_ID = #{employeeId} 
 	</update>
	
</mapper>