<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pmo.dashboard.dao.EmployeeInfoMapper">
	<resultMap id="employeeInfoMap" type="com.pmo.dashboard.entity.EmployeeInfo">
		<id property="employeeId" column="EMPLOYEE_ID" javaType="String" />
		<result property="eHr" column="E_HR" javaType="String" />
		<result property="staffName" column="STAFF_NAME" javaType="String" />
		<result property="ln" column="LN" javaType="String" />
		<result property="csSubDeptName" column="CS_SUBDEPT_NAME" javaType="String" />
		<result property="hsbcStaffId" column="HSBC_STAFF_ID" javaType="String" />
		<result property="lob" column="LOB" javaType="String" />
		<result property="resourceStatus" column="RESOURCE_STATUS" javaType="String" />
		<result property="rmUserId" column="RM_USER_ID" javaType="String" />
		<result property="engagementType" column="ENGAGEMENT_TYPE" javaType="String" />
		<result property="chsoftiProNumber" column="CHSOFTI_PRO_NUMBER" javaType="String" />
		<result property="chsoftiProStartdate" column="CHSOFTI_PRO_STARTDATE" javaType="String" />
		<result property="chsoftiProName" column="CHSOFTI_PRO_NAME" javaType="String" />
	</resultMap>
	
	<select id="queryEmployeeList" parameterType="com.pmo.dashboard.entity.EmployeePageCondition" resultMap="employeeInfoMap" >
	    SELECT e.ITINDUSTRY_WORK_YEAR,e.EMPLOYEE_ID,e.HSBC_STAFF_ID,e.E_HR,e.LOB,e.STAFF_NAME,e.LN,d.CS_SUBDEPT_NAME,e.RESOURCE_STATUS,e.RM_USER_ID,u.NICKNAME,e.ENGAGEMENT_TYPE
        FROM t_employee AS e
        LEFT JOIN t_cs_dept AS d
        ON e.CS_SUBDEPT_ID = d.CS_SUBDEPT_ID
        LEFT JOIN T_USER AS u
        ON e.RM_USER_ID = u.USER_ID
        WHERE 1 = 1
        
			<if test="hsbcStaffId != null and hsbcStaffId != ''">
				AND e.HSBC_STAFF_ID = #{hsbcStaffId}
			</if>
			<if test="eHr != null and eHr != ''">
				AND e.E_HR = #{eHr}
			</if>
			<if test="lob != null and lob != ''">
				AND e.LOB = #{lob}
			</if>
			<if test="csDeptName != null and csDeptName != ''">
				AND d.CS_DEPT_NAME = #{csDeptName}
			</if>
			<if test="csSubDeptName != null and csSubDeptName != ''">
				AND d.CS_SUBDEPT_NAME = #{csSubDeptName}
			</if>
			<if test="csbuName != null and csbuName != ''">
				AND d.CS_BU_NAME = #{csbuName}
			</if>
			<if test="resourceStatus != null and resourceStatus != ''">
				AND e.RESOURCE_STATUS = #{resourceStatus}
			</if>
			<if test="staffName != null and staffName != ''">
				AND e.STAFF_NAME LIKE '%${staffName}%' 
			</if>
			<if test="rmUserId != null and rmUserId != ''">
				AND e.RM_USER_ID = #{rmUserId}
			</if>
			<if test="engagementType != null and engagementType != ''">
				AND e.ENGAGEMENT_TYPE = #{engagementType}
			</if>
			
		ORDER BY u.NICKNAME,e.ROLE
        LIMIT #{currentPage},#{pageRecordsNum};
	</select>
	
	<select id="countEmployeeList" parameterType="com.pmo.dashboard.entity.EmployeePageCondition" resultType="int" >
	    SELECT count(0)
        FROM t_employee AS e
        LEFT JOIN t_cs_dept AS d
        ON e.CS_SUBDEPT_ID = d.CS_SUBDEPT_ID
        WHERE 1 = 1
        
			<if test="hsbcStaffId != null and hsbcStaffId != ''">
				AND e.HSBC_STAFF_ID = #{hsbcStaffId}
			</if>
			<if test="eHr != null and eHr != ''">
				AND e.E_HR = #{eHr}
			</if>
			<if test="lob != null and lob != ''">
				AND e.LOB = #{lob}
			</if>
			<if test="csDeptName != null and csDeptName != ''">
				AND d.CS_DEPT_NAME = #{csDeptName}
			</if>
			<if test="csSubDeptName != null and csSubDeptName != ''">
				AND d.CS_SUBDEPT_NAME = #{csSubDeptName}
			</if>
			<if test="csbuName != null and csbuName != ''">
				AND d.CS_BU_NAME = #{csbuName}
			</if>
			<if test="resourceStatus != null and resourceStatus != ''">
				AND e.RESOURCE_STATUS = #{resourceStatus}
			</if>
			<if test="staffName != null and staffName != ''">
				AND e.STAFF_NAME = #{staffName}
			</if>
		
			<if test="rmUserId != null and rmUserId != ''">
				AND e.RM_USER_ID = #{rmUserId}
			</if>
			<if test="engagementType != null and engagementType != ''">
				AND e.ENGAGEMENT_TYPE = #{engagementType}
			</if>
	</select>
	
	
	<select id="queryList" parameterType="com.pmo.dashboard.entity.EmployeePageCondition" resultMap="employeeInfoMap" >
	    SELECT 
	    DISTINCT
        z1.EMPLOYEE_ID,
        z1.CS_SUBDEPT_ID,
        z1.HSBC_STAFF_ID,
        z1.E_HR,z1.LOB,
        z1.STAFF_NAME,
        z1.LN,
        z1.CS_SUBDEPT_NAME,
        z1.CS_BU_NAME,
        z1.RESOURCE_STATUS,
        z1.RM_USER_ID,
        z1.NICKNAME,
        z1.ENGAGEMENT_TYPE
        from(
        SELECT 
        e.EMPLOYEE_ID,
        e.CS_SUBDEPT_ID,
        e.HSBC_STAFF_ID,
        e.E_HR,e.LOB,
        e.STAFF_NAME,
        e.LN,
        d.CS_SUBDEPT_NAME,
        d.CS_BU_NAME,
        e.RESOURCE_STATUS,
        e.RM_USER_ID,
        u.NICKNAME,
        e.ENGAGEMENT_TYPE
        FROM t_employee AS e
        LEFT JOIN t_cs_dept AS d
        ON e.CS_SUBDEPT_ID = d.CS_SUBDEPT_ID
        LEFT JOIN T_USER AS u
        ON e.RM_USER_ID = u.USER_ID) z1
        INNER JOIN
        t_employee_log z2
        on z1.EMPLOYEE_ID=z2.EMPLOYEE_ID
        WHERE 1 = 1
        
			<if test="hsbcStaffId != null and hsbcStaffId != ''">
				AND z1.HSBC_STAFF_ID = #{hsbcStaffId}
			</if>
			<if test="eHr != null and eHr != ''">
				AND z1.E_HR = #{eHr}
			</if>
			<if test="lob != null and lob != ''">
				AND z1.LOB = #{lob}
			</if>
			<if test="staffName != null and staffName != ''">
				AND z1.STAFF_NAME LIKE '%${staffName}%' 
			</if>
			<if test="rmUserId != null and rmUserId != ''">
				AND z1.RM_USER_ID = #{rmUserId}
			</if>
			<if test="csbuName != null and csbuName != ''">
				AND z1.CS_BU_NAME = #{csbuName}
			</if>
			<if test="csbuNames != null and csbuNames != ''">
				AND z1.CS_BU_NAME in
				<foreach collection="csbuNames" item="item" index="index" 
                   open="(" separator="," close=")">
                   #{item}
                </foreach>
			</if>
			<if test="csSubDeptName != null and csSubDeptName != ''">
				AND z1.CS_SUBDEPT_NAME = #{csSubDeptName}
			</if>
			<if test="csSubDept != null and csSubDept != ''">
			    AND z1.CS_SUBDEPT_ID in
				<foreach collection="csSubDept" item="item" index="index" 
                   open="(" separator="," close=")">
                   #{item}
                </foreach>
			</if>
			
        LIMIT #{currentPage},#{pageRecordsNum};
	</select>
	
	<select id="countList" parameterType="com.pmo.dashboard.entity.EmployeePageCondition" resultType="int" >
	    SELECT 
        COUNT(DISTINCT z1.EMPLOYEE_ID)
        from(
        SELECT 
        e.EMPLOYEE_ID,
        e.CS_SUBDEPT_ID,
        e.HSBC_STAFF_ID,
        e.E_HR,e.LOB,
        e.STAFF_NAME,
        e.LN,
        d.CS_SUBDEPT_NAME,
        d.CS_BU_NAME,
        e.RESOURCE_STATUS,
        e.RM_USER_ID,
        u.NICKNAME,
        e.ENGAGEMENT_TYPE
        FROM t_employee AS e
        LEFT JOIN t_cs_dept AS d
        ON e.CS_SUBDEPT_ID = d.CS_SUBDEPT_ID
        LEFT JOIN T_USER AS u
        ON e.RM_USER_ID = u.USER_ID) z1
        INNER JOIN
        t_employee_log z2
        on z1.EMPLOYEE_ID=z2.EMPLOYEE_ID
        WHERE 1 = 1
        
			<if test="hsbcStaffId != null and hsbcStaffId != ''">
				AND z1.HSBC_STAFF_ID = #{hsbcStaffId}
			</if>
			<if test="eHr != null and eHr != ''">
				AND z1.E_HR = #{eHr}
			</if>
			<if test="lob != null and lob != ''">
				AND z1.LOB = #{lob}
			</if>
			<if test="staffName != null and staffName != ''">
				AND z1.STAFF_NAME LIKE '%${staffName}%' 
			</if>
			<if test="rmUserId != null and rmUserId != ''">
				AND z1.RM_USER_ID = #{rmUserId}
			</if>
			<if test="csbuName != null and csbuName != ''">
				AND z1.CS_BU_NAME = #{csbuName}
			</if>
			<if test="csbuNames != null and csbuNames != ''">
				AND z1.CS_BU_NAME in
				<foreach collection="csbuNames" item="item" index="index" 
                   open="(" separator="," close=")">
                   #{item}
                </foreach>
			</if>
			<if test="csSubDeptName != null and csSubDeptName != ''">
				AND z1.CS_SUBDEPT_NAME = #{csSubDeptName}
			</if>
			<if test="csSubDept != null and csSubDept != ''">
			    AND z1.CS_SUBDEPT_ID in
				<foreach collection="csSubDept" item="item" index="index" 
                   open="(" separator="," close=")">
                   #{item}
                </foreach>
			</if>
	</select>
	
</mapper>