<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pmo.dashboard.dao.EmployeeLogMapper" >
  <resultMap id="BaseResultMap" type="com.pmo.dashboard.entity.EmployeeLog" >
    <result column="LOG_ID" property="logId" jdbcType="VARCHAR" />
    <result column="EMPLOYEE_ID" property="employeeId" jdbcType="VARCHAR" />
    <result column="CS_SUBDEPT_ID_NEW" property="csSubdeptIdNew" jdbcType="VARCHAR" />
    <result column="CS_SUBDEPT_ID_ORIGINAL" property="csSubdeptIdOriginal" jdbcType="VARCHAR" />
    <result column="ROLE_NEW" property="roleNew" jdbcType="VARCHAR" />
    <result column="ROLE_ORIGINAL" property="roleOriginal" jdbcType="VARCHAR" />
    <result column="STATUS_NEW" property="statusNew" jdbcType="VARCHAR" />
    <result column="STATUS_ORIGINAL" property="statusOriginal" jdbcType="VARCHAR" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="VARCHAR" />
    <result column="OPERATION_PERSON" property="operationPerson" jdbcType="VARCHAR" />
    <result column="LOG_TYPE" property="logType" jdbcType="VARCHAR" />
    <result column="PROJECT_STATUS" property="projectStatus" jdbcType="VARCHAR" />
    <result column="CONTRACT_STATUS" property="contractStatus" jdbcType="VARCHAR" />
    <result column="LEVEL_STATUS" property="levelStatus" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.pmo.dashboard.entity.EmployeeLog" extends="BaseResultMap" >
    <result column="CHANGE_INFORMATION" property="changeInformation" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Blob_Column_List" >
    CHANGE_INFORMATION
  </sql>
  
  <insert id="save" parameterType="com.pmo.dashboard.entity.EmployeeLog" >
    insert into t_employee_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="logId != null" >
        LOG_ID,
      </if>
      <if test="employeeId != null" >
        EMPLOYEE_ID,
      </if>
      <if test="csSubdeptIdNew != null" >
        CS_SUBDEPT_ID_NEW,
      </if>
      <if test="csSubdeptIdOriginal != null" >
        CS_SUBDEPT_ID_ORIGINAL,
      </if>
      <if test="roleNew != null" >
        ROLE_NEW,
      </if>
      <if test="roleOriginal != null" >
        ROLE_ORIGINAL,
      </if>
      <if test="statusNew != null" >
        STATUS_NEW,
      </if>
      <if test="statusOriginal != null" >
        STATUS_ORIGINAL,
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE,
      </if>
      <if test="operationPerson != null" >
        OPERATION_PERSON,
      </if>
      <if test="changeInformation != null" >
        CHANGE_INFORMATION,
      </if>
      <if test="logType != null" >
        LOG_TYPE,
      </if>
      <if test="projectStatus != null" >
        PROJECT_STATUS,
      </if>
      <if test="contractStatus != null" >
        CONTRACT_STATUS,
      </if>
      <if test="levelStatus != null" >
        LEVEL_STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="logId != null" >
        #{logId,jdbcType=VARCHAR},
      </if>
      <if test="employeeId != null" >
        #{employeeId,jdbcType=VARCHAR},
      </if>
      <if test="csSubdeptIdNew != null" >
        #{csSubdeptIdNew,jdbcType=VARCHAR},
      </if>
      <if test="csSubdeptIdOriginal != null" >
        #{csSubdeptIdOriginal,jdbcType=VARCHAR},
      </if>
      <if test="roleNew != null" >
        #{roleNew,jdbcType=VARCHAR},
      </if>
      <if test="roleOriginal != null" >
        #{roleOriginal,jdbcType=VARCHAR},
      </if>
      <if test="statusNew != null" >
        #{statusNew,jdbcType=VARCHAR},
      </if>
      <if test="statusOriginal != null" >
        #{statusOriginal,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=VARCHAR},
      </if>
      <if test="operationPerson != null" >
        #{operationPerson,jdbcType=VARCHAR},
      </if>
      <if test="changeInformation != null" >
        #{changeInformation,jdbcType=LONGVARCHAR},
      </if>
      <if test="logType != null" >
        #{logType,jdbcType=VARCHAR},
      </if>
      <if test="projectStatus != null" >
        #{projectStatus,jdbcType=VARCHAR},
      </if>
      <if test="contractStatus != null" >
        #{contractStatus,jdbcType=VARCHAR},
      </if>
      <if test="levelStatus != null" >
        #{levelStatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="update" parameterType="com.pmo.dashboard.entity.EmployeeLog" >
    update t_employee_log
    <set >
      <if test="employeeId != null" >
        EMPLOYEE_ID = #{employeeId,jdbcType=VARCHAR},
      </if>
      <if test="csSubdeptIdNew != null" >
        CS_SUBDEPT_ID_NEW = #{csSubdeptIdNew,jdbcType=VARCHAR},
      </if>
      <if test="csSubdeptIdOriginal != null" >
        CS_SUBDEPT_ID_ORIGINAL = #{csSubdeptIdOriginal,jdbcType=VARCHAR},
      </if>
      <if test="roleNew != null" >
        ROLE_NEW = #{roleNew,jdbcType=VARCHAR},
      </if>
      <if test="roleOriginal != null" >
        ROLE_ORIGINAL = #{roleOriginal,jdbcType=VARCHAR},
      </if>
      <if test="statusNew != null" >
        STATUS_NEW = #{statusNew,jdbcType=VARCHAR},
      </if>
      <if test="statusOriginal != null" >
        STATUS_ORIGINAL = #{statusOriginal,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="operationPerson != null" >
        OPERATION_PERSON = #{operationPerson,jdbcType=VARCHAR},
      </if>
      <if test="logType != null" >
        LOG_TYPE = #{logType,jdbcType=VARCHAR},
      </if>
      <if test="projectStatus != null" >
        PROJECT_STATUS = #{projectStatus,jdbcType=VARCHAR},
      </if>
      <if test="contractStatus != null" >
        CONTRACT_STATUS = #{contractStatus,jdbcType=VARCHAR},
      </if>
      <if test="levelStatus != null" >
        LEVEL_STATUS = #{levelStatus,jdbcType=VARCHAR},
      </if>
      <if test="changeInformation != null" >
        CHANGE_INFORMATION = #{changeInformation,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where LOG_ID = #{logId,jdbcType=VARCHAR}
  </update>
  
  
  <select id="countEmployeeLogList" parameterType="com.pmo.dashboard.entity.EmployeeLogPageCondition" resultType="int" >
	    SELECT count(*)
        FROM t_employee_log 
        WHERE 1 = 1
		<if test="employeeId != null and employeeId != ''">
			AND EMPLOYEE_ID = #{employeeId}
		</if>
		<if test="projectStatus != null and projectStatus != ''" >
            AND PROJECT_STATUS = #{projectStatus}
        </if>
        <if test="contractStatus != null and contractStatus != ''" >
            AND CONTRACT_STATUS = #{contractStatus}
        </if>
        <if test="levelStatus != null and levelStatus != ''" >
            AND LEVEL_STATUS = #{levelStatus}
        </if>
        <if test="newdept==3" >
            AND CS_SUBDEPT_ID_NEW != null
        </if>
        <if test="newstatus==4"  >
            AND STATUS_NEW != null
        </if>
			
  </select>
  
  <select id="queryEmployeeLogList" parameterType="com.pmo.dashboard.entity.EmployeeLogPageCondition" resultMap="ResultMapWithBLOBs">
	    SELECT * FROM t_employee_log WHERE 1 = 1
	    <if test="employeeId != null and employeeId != ''">
			AND EMPLOYEE_ID = #{employeeId}
		</if>
		<if test="projectStatus != null and projectStatus != ''" >
            AND PROJECT_STATUS = #{projectStatus}
        </if>
        <if test="contractStatus != null and contractStatus != ''" >
            AND CONTRACT_STATUS = #{contractStatus}
        </if>
        <if test="levelStatus != null and levelStatus != ''" >
            AND LEVEL_STATUS = #{levelStatus}
        </if>
        <if test="newdept==3" >
            AND CS_SUBDEPT_ID_NEW != null
        </if>
        <if test="newstatus==4"  >
            AND STATUS_NEW != null
        </if>
		order by UPDATE_DATE desc
		LIMIT #{currentPage},#{pageRecordsNum}
  </select>
  
  <select id="getById" parameterType="com.pmo.dashboard.entity.EmployeeLog" resultMap="ResultMapWithBLOBs">
	    SELECT * FROM t_employee_log WHERE 1 = 1
	    <if test="logId != null and logId != ''">
			AND LOG_ID = #{logId}
		</if>
  </select>
  
  <select id="queryEmpLogByDUNew" parameterType="com.pmo.dashboard.entity.EmployeeGraphParam" resultMap="BaseResultMap">
  	SELECT * FROM t_employee_log WHERE UPDATE_DATE BETWEEN #{startDate} AND #{endDate} 
	<choose>
  		<when test="du != null and du != ''">
  			and CS_SUBDEPT_ID_NEW = #{du}
  		</when>
  		<otherwise>
  			<choose>
  				<when test="bu != null and bu != ''">
  					and CS_SUBDEPT_ID_NEW in
  					<foreach collection="duList" item="subDeptId" index="index" open="(" close=")" separator=",">
  						#{subDeptId}
  					</foreach>
  				</when>
  			</choose>
  		</otherwise>
  	</choose>  		
   ORDER BY UPDATE_DATE
  </select>
  <select id="queryEmpLogByDUOrg" parameterType="String" resultMap="BaseResultMap">
  	SELECT * FROM t_employee_log WHERE CS_SUBDEPT_ID_ORIGINAL = #{du} AND UPDATE_DATE BETWEEN #{startDate} AND #{endDate} ORDER BY UPDATE_DATE
  </select>
  
</mapper>