<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pmo.dashboard.dao.EmployeeMapper">
	<resultMap id="employeeMap" type="com.pmo.dashboard.entity.Employee">
		<id property="employeeId" column="EMPLOYEE_ID" javaType="String" />
		<result property="eHr" column="E_Hr" javaType="String" />
		<result property="lob" column="LOB" javaType="String" />
		<result property="hsbcStaffId" column="HSBC_STAFF_ID" javaType="String" />
		<result property="staffName" column="STAFF_NAME" javaType="String" />
		<result property="ln" column="LN" javaType="String" />
		<result property="staffRegion" column="STAFF_REGION" javaType="String" />
		<result property="staffLocation" column="STAFF_LOCATION" javaType="String" />
		<result property="locationType" column="LOCATION_TYPE" javaType="String" />
		<result property="onshoreOrOffshore" column="ONSHORE_OR_OFFSHORE" javaType="String" />
		<result property="csSubDept" column="CS_SUBDEPT_ID" javaType="String" />
		<result property="hsbcSubDept" column="HSBC_SUBDEPT_ID" javaType="String" />
		<result property="projectName" column="HSBC_PROJECT_NAME" javaType="String" />
		<result property="projectManager" column="HSBC_MANAGER" javaType="String" />
		<result property="sow" column="SOW" javaType="String" />
		<result property="sowExpiredDate" column="SOW_EXPIRED_DATE" javaType="String" />
		<result property="staffCategory" column="STAFF_CATEGORY" javaType="String" />
		<result property="engagementType" column="ENGAGEMENT_TYPE" javaType="String" />
		<result property="hsbcDOJ" column="HSBC_DOJ" javaType="String" />
		<result property="graduationDate" column="GRADUATION_DATE" javaType="String" />
		<result property="role" column="ROLE" javaType="String" />
		<result property="skill" column="SKILL" javaType="String" />
		<result property="billingCurrency" column="BILL_CURRENCY" javaType="String" />
		<result property="billRate" column="BILL_RATE" javaType="String" />
		<result property="resourceStatus" column="RESOURCE_STATUS" javaType="String" />
		<result property="terminatedDate" column="MENTION_LWD" javaType="String" />
		<result property="terminationReason" column="REASON_FOR_TERMINATION" javaType="String" />
		<result property="interviewStatus" column="INTERVIERW_STATUS" javaType="String" />
	</resultMap>
	
	
	<insert id="addEmployee" parameterType="com.pmo.dashboard.entity.Employee">
	    insert into t_employee (EMPLOYEE_ID,HSBC_STAFF_ID,STAFF_NAME,LN,STAFF_REGION,STAFF_LOCATION,LOCATION_TYPE,ONSHORE_OR_OFFSHORE,SOW,SOW_EXPIRED_DATE,STAFF_CATEGORY,ENGAGEMENT_TYPE,HSBC_DOJ,GRADUATION_DATE,BILL_CURRENCY,BILL_RATE,RESOURCE_STATUS,MENTION_LWD,REASON_FOR_TERMINATION,E_HR,HSBC_SUBDEPT_ID,SKILL,ROLE,CS_SUBDEPT_ID,LOB,HSBC_MANAGER,HSBC_PROJECT_NAME)
	    values
	    (#{employeeId},#{hsbcStaffId},#{staffName},#{ln},#{staffRegion},#{staffLocation},#{locationType},#{onshoreOrOffshore},#{sow},#{sowExpiredDate},#{staffCategory},#{engagementType},#{hsbcDOJ},#{graduationDate},#{billingCurrency},#{billRate},#{resourceStatus},#{terminatedDate},#{terminationReason},#{eHr},#{hsbcSubDept},#{skill},#{role},#{csSubDept},#{lob},#{projectManager},#{projectName})
	</insert>
	
	<select id="queryEmployeeById" parameterType="String" resultMap="employeeMap">
	    SELECT * FROM t_employee WHERE EMPLOYEE_ID = #{employeeId};
	</select>
	
	<select id="queryEmployeeList" parameterType="com.pmo.dashboard.entity.EmployeePageCondition" resultMap="employeeMap">
	    SELECT * FROM t_employee WHERE 1 = 1 AND CS_SUBDEPT_ID IN (SELECT CS_SUBDEPT_ID FROM t_cs_dept WHERE 1 = 1
	    <if test="csDeptName != null and csDeptName != ''">
				AND cs_dept_name = #{csDeptName}
		</if>
		<if test="csSubDeptName != null and csSubDeptName != ''">
				AND CS_SUBDEPT_NAME = #{csSubDeptName}
		</if>
		<if test="csbuName != null and csbuName != ''">
				AND CS_BU_NAME = #{csbuName}
		</if>
		)
	</select>
	
	<update id="updateEmployee" parameterType="com.pmo.dashboard.entity.Employee">
	    update t_employee set E_Hr = #{eHr},LOB = #{lob},HSBC_STAFF_ID = #{hsbcStaffId},STAFF_NAME = #{staffName},LN = #{ln},STAFF_REGION = #{staffRegion},STAFF_LOCATION = #{staffLocation},LOCATION_TYPE = #{locationType},ONSHORE_OR_OFFSHORE = #{onshoreOrOffshore},CS_SUBDEPT_ID = #{csSubDept},HSBC_SUBDEPT_ID = #{hsbcSubDept},HSBC_PROJECT_NAME = #{projectName},HSBC_MANAGER = #{projectManager},SOW = #{sow},SOW_EXPIRED_DATE = #{sowExpiredDate},STAFF_CATEGORY = #{staffCategory},ENGAGEMENT_TYPE = #{engagementType},HSBC_DOJ= #{hsbcDOJ},GRADUATION_DATE = #{graduationDate},BILL_CURRENCY = #{billingCurrency},BILL_RATE = #{billRate},RESOURCE_STATUS = #{resourceStatus},MENTION_LWD = #{terminatedDate},REASON_FOR_TERMINATION = #{terminationReason},ROLE = #{role},SKILL = #{skill} where EMPLOYEE_ID = #{employeeId}    
	</update>
	
	<select id="queryEmployeeByCsSubDeptId" parameterType="java.util.HashMap" resultMap="employeeMap">
	    SELECT * FROM t_employee WHERE CS_SUBDEPT_ID = #{csSubDeptId} and INTERVIERW_STATUS = #{intervierwStatus};
	</select>
</mapper>