<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pmo.dashboard.dao.HrFeedbackMapper">
	<!-- <update id="updateCandidateInfo" parameterType="com.pmo.dashboard.entity.HrFeedback">
	    update t_candidate_hr_feedback set FEEDBACK = #{hrFeedBack} where CANDIDATE_ID = #{candidateNameId}    
	</update> -->
	<insert id="updateCandidateInfo" parameterType="com.pmo.dashboard.entity.HrFeedback">
	    insert t_candidate_hr_feedback (FEEDBACK_ID,CANDIDATE_ID,USER_ID,FEEDBACK,FEEDBACK_DATE) values
	    (#{FeedbackId},#{candidateId},#{userId},#{hrFeedBack},#{feedbacktime})
	
	</insert>
	
</mapper>