<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pmo.dashboard.dao.HSBCDeptMapper">
	<resultMap id="hsbcDeptMap" type="com.pmo.dashboard.entity.HSBCDept">
		<id property="hsbcSubDeptId" column="HSBC_SUBDEPT_ID" javaType="String" />
		<result property="hsbcSubDeptName" column="HSBC_SUBDEPT_NAME" javaType="String" />
		<result property="hsbcDeptName" column="HSBC_DEPT_NAME" javaType="String" />
	</resultMap>
	
	<!--gkf modify do not change  -->
	<select id="queryHSBCDeptName" resultMap="hsbcDeptMap">
	    SELECT * FROM t_hsbc_dept GROUP BY  HSBC_DEPT_NAME ORDER BY HSBC_DEPT_NAME ASC
	</select>
	
	<select id="queryHSBCDubDeptNameById" parameterType="String" resultMap="hsbcDeptMap">
        SELECT * FROM t_hsbc_dept WHERE HSBC_DEPT_NAME = (SELECT HSBC_DEPT_NAME FROM t_hsbc_dept WHERE HSBC_SUBDEPT_ID = #{hsbcSubDeptName})
	</select>
	
	<select id="queryHSBCSubDeptById" parameterType="String" resultMap="hsbcDeptMap">
	    SELECT * FROM t_hsbc_dept WHERE HSBC_SUBDEPT_ID = (SELECT HSBC_SUBDEPT_ID FROM t_hsbc_project WHERE HSBC_PROJECT_ID = #{hsbcProjectId})
	</select>
	
	<select id="queryDemandHSBCSubDeptById" parameterType="String" resultMap="hsbcDeptMap">
	    SELECT * FROM t_hsbc_dept WHERE HSBC_SUBDEPT_ID = #{hsbcSubDeptId}
	</select>
	
	<select id="queryHSBCSubDeptId" parameterType="com.pmo.dashboard.entity.Demand" resultType="String">
	    SELECT HSBC_SUBDEPT_ID 
	    FROM t_hsbc_dept 
	    <where>
	    	<if test="hsbcDept.hsbcDeptName!=null and hsbcDept.hsbcDeptName!=''">
	    		and HSBC_DEPT_NAME = #{hsbcDept.hsbcDeptName}
	    	</if>
	    	<if test="hsbcDept.hsbcSubDeptName!=null and hsbcDept.hsbcSubDeptName!=''">
	    		and HSBC_SUBDEPT_NAME = #{hsbcDept.hsbcSubDeptName}
	    	</if>
	    </where>
	</select>
	
	<select id="queryHSBCSubDeptNameByDeptName" parameterType="String" resultMap="hsbcDeptMap">
		select * 
		from t_hsbc_dept 
		where HSBC_DEPT_NAME=#{hsbcDeptName}
		GROUP BY HSBC_SUBDEPT_NAME
	</select>
	
	<select id="queryHsbcSubDeptId" parameterType="java.util.HashMap" resultType="String">
		select HSBC_SUBDEPT_ID
		from t_hsbc_dept
		<where>
			<if test="hsbcSubDeptName!=null and hsbcSubDeptName!=''">
				and HSBC_SUBDEPT_NAME = #{hsbcSubDeptName}
			</if>
			<if test="hsbcDeptName!=null and hsbcDeptName!=''">
				and HSBC_DEPT_NAME = #{hsbcDeptName}
			</if>
		</where>
	</select>
</mapper>