<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pmo.dashboard.dao.ModifyEmployeeMapper">
	<update id="modifyproperties" parameterType="com.pmo.dashboard.entity.TransferDept">
	  update t_employee 
	         set HSBC_PROJECT_NAME=#{projectName},
	             SOW=#{sowNum},
	             SOW_EXPIRED_DATE=#{sowExpiredDate},
	             ENGAGEMENT_TYPE=#{engagementType}
	    where lob=#{lob}
	</update>
	<update id="modifyRoles" parameterType="com.pmo.dashboard.entity.TransferDept">
	  update t_employee
	        set ROLE=#{msaRole},
	            SKILL=#{skill},
	            STAFF_REGION=#{staffRegion},
	            BILL_RATE=#{billRate}
	        where lob=#{lob}
	</update>
	<update id="modifyDept" parameterType="com.pmo.dashboard.entity.TransferDept">
	  update t_employee 
	        set HSBC_SUBDEPT_ID=#{hsbcSubDept},
	            HSBC_MANAGER=#{hsbcManager}
	         where lob=#{lob}
	</update>
	
	<update id="modifyRM" parameterType="com.pmo.dashboard.entity.TransferDept">
	  update t_employee 
	        set RM_USER_ID=#{nickName}
	         where lob=#{lob}
	</update>
</mapper>