<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pmo.dashboard.dao.UserMapper">
	<resultMap id="userMap" type="com.pmo.dashboard.entity.User">
		<id property="userId" column="USER_ID" javaType="String" /> 
		<result property="userName" column="USER_NAME" javaType="String" />
		<result property="nickname" column="NICKNAME" javaType="String" />
		<result property="password" column="PASSWORD" javaType="String" />
		<result property="userType" column="USER_TYPE" javaType="String" />
		<result property="csdeptId" column="CSDEPT_ID" javaType="String" />
		<result property="bu" column="BU" javaType="String" />
		<result property="loginStatus" column="LOGIN_STATUS" jdbcType="VARCHAR" />
		<result column="EMAIL" property="email" jdbcType="VARCHAR" />
	</resultMap>
	
	
	
	<select id="checkUser" parameterType="String" resultMap="userMap">
		select * from t_user where USER_NAME = #{userName}
	</select>
	
	<select id="login" parameterType="String" resultMap="userMap">
		select * from t_user where USER_NAME = #{userName} and PASSWORD = #{password}
	</select>
	
	<update id="updatePwd" parameterType="String" >
		update t_user set PASSWORD = #{newPwd} where USER_ID = #{userId}
	
	</update>
	
	<select id="getUserForRM"  resultMap="userMap">
		select * from t_user where USER_TYPE = "5" 
	</select>
	
	<insert id="addUser" parameterType="com.pmo.dashboard.entity.User" >
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="nickname != null" >
        NICKNAME,
      </if>
      <if test="password != null" >
        PASSWORD,
      </if>
      <if test="userType != null" >
        USER_TYPE,
      </if>
      <if test="csdeptId != null" >
        CSDEPT_ID,
      </if>
      <if test="bu != null" >
        BU,
      </if>
      <if test="loginStatus != null" >
        LOGIN_STATUS,
      </if>
      <if test="email != null" >
        EMAIL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=VARCHAR},
      </if>
      <if test="csdeptId != null" >
        #{csdeptId,jdbcType=VARCHAR},
      </if>
      <if test="bu != null" >
        #{bu,jdbcType=VARCHAR},
      </if>
      <if test="loginStatus != null" >
        #{loginStatus,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <!-- Felix, Begin -->
	<select id="queryUserById" parameterType="String" resultMap="userMap">
		select * from t_user where USER_ID = #{userId};
	</select>
	
	<update id="updateUser" parameterType="com.pmo.dashboard.entity.User">
		update t_user set USER_NAME = #{userName},NICKNAME = #{nickname},USER_TYPE = #{userType},BU = #{bu},CSDEPT_ID = #{csdeptId} WHERE USER_ID = #{userId}
	</update>
	<!-- Felix, End -->
   
     <update id="update" parameterType="com.pmo.dashboard.entity.User" >
     update t_user
     <set>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        NICKNAME = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        USER_TYPE = #{userType,jdbcType=VARCHAR},
      </if>
      <if test="csdeptId != null" >
        CSDEPT_ID = #{csdeptId,jdbcType=VARCHAR},
      </if>
      <if test="bu != null" >
        BU = #{bu,jdbcType=VARCHAR},
      </if>
      <if test="loginStatus != null" >
        LOGIN_STATUS = #{loginStatus,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
     </set>
     where USER_ID = #{userId,jdbcType=VARCHAR}
  </update>
  
  <select id="getUser" resultMap="userMap" parameterType="java.lang.String" >
    select * from t_user where 1=1
    <if test="type1 != null || type2 !=null" >
      and (USER_TYPE = #{type1,jdbcType=VARCHAR} or USER_TYPE = #{type2,jdbcType=VARCHAR})
    </if>
    <if test="ehr != null" >
      and USER_NAME = #{ehr,jdbcType=VARCHAR}
    </if>
  </select>
  
</mapper>