@import url(https://fonts.googleapis.com/css?family=Shojumaru);
.login-header{
		padding:30px 0 20px 0;
		height:150px;
	}
	.login-header-img{
		margin-left: auto !important;
		margin-right: auto !important;
		float: none !important; 
		display: block;
		text-align: center;
	}	
	<!--login-header-img img {
		height:110px;
		background:url(../img/img-logo1.png) no-repeat;
	}-->
	.login-background{
		background-image: url(../img/background.png);
	}
	.new-login-box{
		background-color: rgba(255, 255, 255, 0.1);
		border: 1px solid #fffefe;
	}
	.new-login-box-header{
		border-color: #96c9f7;
	}
	.input-area-span{
		background-color: rgba(248, 248, 255, 0.5);
		border: 1px solid rgba(117, 184, 241, 0.69);
	}
	.input-area{
		border: 1px solid rgba(117, 184, 241, 0.86);
		border-left: none;
	}
	.green-1{
		color: #8BC34A;
	}
	.p-style{
		padding-left: 30px;padding-right: 30px;
		}
	.btn-primary-new{
		padding-left: 30px;
		padding-right: 30px;
		}